
html{
  scroll-behavior: smooth;
}
nav li{
  display:inline;
  padding:20px;

}

body{
  background-color:#57343A;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
div{
  position: relative;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px
  }
.skip a:focus {
    top: 20px;
    display: block;
    text-decoration: underline  ;
  }
li a:hover,
li a:focus {
  text-decoration: underline;
  outline: 2px solid #000;
  }
*:focus {
    outline: 2px solid #000;
    text-decoration: underline;
  }
header{
  width:100%;
}
nav{
    background-color: #ddd;
    padding: 25px 0;
    text-align: center;
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:20px;
    padding: 20px;
  }
.grid-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 5px solid#57343A;
  width:100%;
  max-width: 100%;
  }
.text-container {
    grid-column:3;
    grid-row:2;
    gap: 15px;
    border: 5px solid#57343A;
    display: inline;
    text-align: center;
    justify-content: center;
    height: fit-content;
    place-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-gallery {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1;
  grid-row:4;
  overflow: auto;
  white-space: nowrap;
  border: 5px solid#57343A;
  height:fit-content;
  margin: 20px;
  gap: 20px;
}

.grid-gallery img {
  max-width: 100%;
  border: 5px solid#b78c97;
}

.grid-gallery a:focus {
  top: 20px;
  display: block;
  text-decoration: underline;
}

.grid-gallery img a:focus {
  top: 20px;
  display: block;
  text-decoration: underline  ;
}
.travel-body {
  background-color: #f2f2f2;
  padding: 20px;
  border: 5px solid#57343A;
  }
  .travel-body img{
    width:400;
  }

.likes {
  grid-column: 2;
  grid-row:4;
  border: 5px solid#57343A;
  place-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  display: inline;
  height: fit-content;
}


.ingredients{
  grid-column: 3;
  grid-row:2;
  border: 5px solid#57343A;
  place-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  display: inline;
  height: fit-content;
}

.info{
  grid-column: 3;
  grid-row:1;
  border: 5px solid#57343A;
  place-items: center;
  text-align: left;
  justify-content: center;
  padding: 15px;
  display: inline;
  height: fit-content;
}
.recipe-steps{
  grid-column: 3;
  grid-row:3;
  border: 5px solid#57343A;
  place-items: center;
  text-align: left;
  justify-content: center;
  padding: 15px;
  display: inline;
  height: fit-content;
  overflow: auto;
  max-height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recipe-steps a:focus {
  top: 20px;
  display: block;
  text-decoration: underline  ;
}
.text-caption{
  grid-column:3;
  grid-row:4;
  gap: 15px;
  border: 5px solid#57343A;
  display: inline;
  text-align: left;
  justify-content: center;
  height: fit-content;
  place-items: center;
}
.pet{
  grid-column: 1 / -1;
  max-height: 600px;
}

.food{
  grid-column: 1 /-1;
  max-height: 600px;
}

h1{
	font-size:50px;
	font-weight: bold;
  font-family: monospace;
  text-align: center;
  background-color:#33292B;
  color: #ddd;
}



h2, h3{
	font-size: 2em;
	font-weight: bold;
    font-family: monospace;
    color:#601a2f;
    padding: 10px;
}

img{
    border: 5px solid#57343A;
    padding: 10px;
    border-top-right-radius: 30px;
    margin: 20px;
    max-width: 100%;
    height: auto;
}

span::after{
  content: "\a";
  white-space: pre;

}



p {
   line-height: 2.5;
   padding: 10px;
}

.active{
	background: white;
	text-align: center;
  text-decoration: underline;
}


a{
    color: blue
}
header nav ul a{
    color: black
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    -webkit-transition: none;
    transition: none;

}
}

